<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, user-scalable=yes">
    <meta name="baidu-site-verification" content="SvfV8OFIMY" />
    <meta property="wb:webmaster" content="af3b3f9c865c4af0" />
    <title>【咿呀折官网】校园折扣网，汇集青年折扣-学生折扣网，大学生折扣</title>
    <meta name="Keywords" content="咿呀折,校园折扣网,学生折扣网,青年折扣网,大学生折扣网" />
	<meta name="Description" content="咿呀折专注大学生折扣，每天精选上百款青年折扣商品，努力做一个低价，潮流，有趣的校园折扣网"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href=""  type="image/png" sizes="">
    <link rel="stylesheet" href="__PUBLIC__/css/index/lunbo.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index/neat.css" type="text/css"  />
    <link rel="stylesheet" href="__PUBLIC__/css/index/index.css" type="text/css"  />
    <link rel="stylesheet" href="__PUBLIC__/css/index/sweet-alert.css" />
</head>

<style>
.big:hover > img {
    transform: scale(1.05, 1.05);
    transition: .5s transform;
}

.big img{
	width:275px;
	height:275px;
}



.small:hover
{
	 transform: scale(1.02, 1.05);
    transition: .5s transform;
}

.new_goods_list > ul:hover{
	border:1px solid #ef6060;
}

.subMenu {
	position: absolute;
	top: 127px;
	height: 40px;
	z-index: 9998;
	width: 100%;
	min-width:1200px;
	background: #aabd46;

}

.info_state span{
	display:block;
}


.goods-pl{
	background: #aabd46;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:9995;
	padding-top: 12px;
  	background-color: rgba(0,0,0,0.7);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
  	display:none;
}

.goods-pl p{
	color: white;
}

/*@media \0screen\,screen\9 {/* 只支持IE6、7、8 
.goods-pl{
    background-color:#000000;
    filter:Alpha(opacity=70);
    position:static; 
    *zoom:1;
  }
.goods-pl p{
	color:white;
    position: relative;
  }  
}*/
.plcontent{
	width:100%;
	height:80%;
	overflow-x: hidden; overflow-y: auto; 
}
.plsend{
	padding-left:6%;
	padding-top:5%;
}

.plsend a{
	color:white;
}

.plsend input{
	width:70%;
	height:30px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #fb6d78;
}

.pl_bg {
	display: inline-block;
	background: #fb6d78;
	height: 30px;
	line-height: 30px;
	width: 44px;
	text-align: center;
	border-radius: 4px 4px 4px 4px;
}
.plname{
	color: rgba(127, 253, 11, 0.92);
}

#cellclien{
	width:150px;
	color:white;
	line-height:40px;
	margin-left:50px;
	position: absolute;
}
#cellclien:hover .qrcode{
	display:block;
}

.qrcode{
	display:none;	
	position:absolute;
	z-index:9995; 
	left:-45px;
	top:40px;
}

#jifen{
	color:white;
	margin-left:150px;
	line-height:40px;
	position: absolute;
}

#weixin{
	margin-top: 65px;
	padding-left:5px;
	text-align:left;
	width:100px;
	position: absolute;
}

#weixin:hover .weixincode{
	display:block;
}

.weixincode{
	top:1px;
	height:100px;
	left:-100px;
	position: absolute;
	display:none;
}

#weibo{
	padding-left:5px;
	text-align:left;
	width:100px;
	position: absolute;
}

#weibo:hover .weibocode{
	display:block;
}

.weibocode{
	top:1px;
	height:100px;
	left:-100px;
	position: absolute;
	display:none;
}

.favorate{
	position: absolute;
    top: 5px;
    right: 5px;
    display:none;
}

.goods_pic:hover .favorate{
	display:block;
	cursor:pointer
}

.big{
	background-image:url(/Public/images/index/backimg.png);
}


</style>

<body>  
<div class="header">
    <div class="header_up">
        <div class="center">
            <ul class="top_navbar">
            <?php $login=session('user.uid'); if(!$login){ ?>
                <li><a href="/Login/qqlogin">QQ登录</a></li>
                <li class="line"></li>
                <li><a href="/Login">登录</a>&nbsp;&nbsp;<a href="/Signup">免费注册</a></li>
            <?php }else{ ?>
           		 <li class="active"><a href="/user" target="_blank"><img width="20px;" src="/uploads/<?php echo session('user.userpic'); ?>" /></a></li>
            	<li class="active"><a href="/User" target="_blank" style="color:#F50505"><?php echo session('user.username'); ?></a></li>
           		<li class="active"><a href="/Login/loginout" target="_blank" style="color:#F50505">退出</a></li>
            <?php } ?>
            
                <li class="line"></li>
                <li class="active"><a href="/user/comment">我的评论</a></li>
                <li class="line"></li>
                <li class="active"><a href="/user/favorate">我的收藏</a></li>
                <li class="line"></li>
                <li><a href="#">联系客服</a></li>
                <li class="line"></li>
                <li><a href="#">卖家报名</a></li>
            </ul>
        </div>
    </div>
    <div class="header_down">
        <div class="center">
            <div class="logo">
                <a href="/"><img src="__PUBLIC__/images/index/logo.png" alt=""/></a>
            </div>
            <div class="search">
                <div class="search_box">
                 <form id="searchfrom" method="get" action="/search/index">
                    <input type="search" name="keywords" placeholder="打几个字儿呗"/>
                    <a href="javascript:void(0)" onclick="submit()" class="search_bg">GO</a> 
                    </form>
                </div>
            </div>
            <div class="top_text">
                <ul>
                    <li>
                        <img src="__PUBLIC__/images/index/top_icon_01.png" alt=""/>
                        <span>每天11:00开抢</span>
                    </li>
                    <li>
                        <img src="__PUBLIC__/images/index/top_icon_02.png" alt=""/>
                        <span>校园专业挑款</span>
                    </li>
                    <li>
                        <img src="__PUBLIC__/images/index/top_icon_03.png" alt=""/>
                        <span>商家品质保证</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="subMenu">
	<div class="goods_navbar">
	    <div class="center">
	        <ul>
	            <li class="active">
	                <a href="/">
	                    <img src="__PUBLIC__/images/index/goods_type_01.png" alt=""/>
	                    <span>全部</span>
	                </a>
	            </li>
	            <li>
	                <a href="/Girls">
	                    <img src="__PUBLIC__/images/index/goods_type_02.png" alt=""/>
	                    <span>女神</span>
	                </a>
	            </li>
	            <li>
	                <a href="Boys">
	                    <img src="__PUBLIC__/images/index/goods_type_03.png" alt=""/>
	                    <span>男神</span>
	                </a>
	            </li>
	            <li>
	                <a href="/Foods">
	                    <img src="__PUBLIC__/images/index/goods_type_04.png" alt=""/>
	                    <span>美食</span>
	                </a>
	            </li>
	            <li>
	                <a href="/ShoeAndBags">
	                    <img src="__PUBLIC__/images/index/goods_type_05.png" alt=""/>
	                    <span>鞋包</span>
	                </a>
	            </li>
	            <li>
	                <a href="/Dormitory">
	                    <img src="__PUBLIC__/images/index/goods_type_06.png" alt=""/>
	                    <span>宅宿舍</span>
	                </a>
	            </li>
	            <li>
	                <a href="/Digital">
	                    <img src="__PUBLIC__/images/index/goods_type_07.png" alt=""/>
	                    <span>数码</span>
	                </a>
	            </li>
	            <li>
	                <a href="/Beauty">
	                    <img src="__PUBLIC__/images/index/goods_type_08.png" alt=""/>
	                    <span>美妆</span>
	                </a>
	            </li>
	            <li>
	                <a href="/Sports">
	                    <img src="__PUBLIC__/images/index/goods_type_09.png" alt=""/>
	                    <span>文体</span>
	                </a>
	            </li>	            	
	                <a href="javascript:void(0)" id="cellclien">手机客户端<img class="qrcode" src="__PUBLIC__/images/index/qrcode.png" /></a>          
	                <a href="javascript:void(0)" id="jifen" <?php $qiandao=session('user.qiandao');if(!$qiandao){ ?>  onclick="qiandao()"<?php } ?>><?php $qiandao=session('user.qiandao'); if($qiandao){echo "已签到 ";}else{echo "签到领积分";} ?></a>      
	        </ul>
	    </div>
	</div>
</div>	
<div class="container-fluid">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active" >
                <img src="__PUBLIC__/images/index/brandbanner03.png" alt="">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item" >
                <img src="__PUBLIC__/images/index/brandbanner02.png" alt="">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/index/brandbanner01.png" alt="">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size: 50px;"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="font-size: 50px;"></span>
            <span class="sr-only"></span>
        </a>
    </div>
</div>

<div class="content">
    <div class="star_goods center" >
        <h3>
            <img src="__PUBLIC__/images/index/star.png" alt="明星9.9前五名"/>
            <span>明星9.9</span>
            <span class="vice">Start 5</span>
            <!-- <span style="float:right;padding-right:10px;"><a style="color:#F30619" href="/Jiukuai">全部9块邮</a></span> -->
        </h3> 
        <ul>
        <?php foreach($start as $ks=>$vs){ ?>
            <li class="star_goods_list">
                <ul>
                    <li class="goods_pic">
                      <a href="/Jump/jump/id/{$vs['gid']}" target="_blank"><div class="small"><img src="{$vs['gimage']}" alt="{$vs['title']}"/></div></a>
                      <img src="__PUBLIC__/images/index/NO<?php echo $ks+1; ?>.png" alt="" class="NO_num"/>
                    </li>
                    <li class="goods_title"><p><a href="/Jump/jump/id/{$vs['gid']}">{$vs['title']}</a></p></li>
                    <li class="pirce">￥ <span>{$vs['price']}</span></li>
                </ul>
            </li>
           <?php } ?>
        </ul>
    </div>
    <div class="new_goods center" >
        <h3>
            <img src="__PUBLIC__/images/index/now.png" alt=""/>
            <span>今日宝贝总数:</span>
            <span class="vice">{$count}款</span>
        </h3>
        <ul>
        <?php foreach($goodlist as $k=>$v){ ?>
            <li class="new_goods_list">
                <ul style="position:relative">
               		<div class="goods-pl" id="scom{$v['gid']}">
	               		<div class="plcontent" id="plcontent{$v['gid']}">
		                	<?php foreach($v['comments'] as $data){ ?><p><em class="plname"><?php echo $data['username']; ?></em>：<?php echo $data['content']; ?></p><?php } ?>              	       	
	                	</div>
	                	<div class="plsend">
	                		<input type="text" id="comment{$v['gid']}" placeholder="字数少于20大于3哦"/>
	                		<a href="javascript:void(0)" class="pl_bg" onclick="sendComment({$v['gid']})">发送</a>
	                	</div>
                	</div>
                    <li class="goods_pic">
                        <a href="/Jump/jump/id/{$v['gid']}" target="_blank"><div class="big"><img src="{$v['gimage']}" alt="{$v['title']}"/></div></a>
                        <?php $pos=strpos($v['star_time'], $today); if($pos!==false){ ?><img src="__PUBLIC__/images/index/xinpin.png" alt="今日上新" class="new"/><?php } ?>
                        <img alt="收藏" <?php $has=cookie("fav".$v['gid']); if(empty($has)){ ?>onclick="favorate({$v['gid']});"<?php } ?> id="favorate{$v['gid']}" src="__PUBLIC__/images/index/<?php if($has){echo 'favorates.png';}else{echo 'favorate.png';} ?>" alt="" class="favorate"/>
                    </li>
                    <li class="goods_title"><p><a href="/Jump/jump/id/{$v['gid']}" target="_blank">【{$v['cate']}】{$v['title']}</a></p></li>
                    <li class="goods_info">
                        <ul>
                            <li class="goods_info_left">
                                <ul>
                                    <li class="pirce">￥ <span><?php echo floatval($v['price']); ?></span></li>
                                    <li><span class="original">￥<?php echo floatval($v['oldprice']); ?></span> <span class="discount">-<?php echo (floatval($v['oldprice'])-floatval($v['price'])); ?>元</span></li>
                                    <li class="sell_out">
                                        <span>已售{$v['yishou']}</span>
                                        
                                    </li>
                                </ul>
                            </li>
                            <li class="goods_info_right">
                                <ul>
                                    <li class="info_state">
                                        <ul style="position:rela">
                                            <li>
                                               <a href="javascript:void(0);" onclick="<?php $has=cookie('like'.$v['gid']); if(empty($has)){echo 'like('.$v['gid'].')'; } ?>" id="za{$v['gid']}"><img id="z{$v['gid']}" width="20px" src="__PUBLIC__/images/index/<?php if(empty($has)){echo 'info_icon_01.png';}else{echo 'like.png'; } ?>" alt="{$v['praise']}人喜欢"/></a>
                                                <span id="zn{$v['gid']}">{$v['praise']}</span>
                                            </li>
                                            <li>
                                             <a href="javascript:void(0);" onclick="comment({$v['gid']});" id="pl{$v['gid']}"><img src="__PUBLIC__/images/index/info_icon_02.png" alt="{$v['comment']}人评论"/></a>
                                                <span id="pn{$v['gid']}">{$v['comment']}</span>
                                            </li>
                                            <li>
                                               <a href="javascript:void(0);" onclick="<?php $has=cookie('dislike'.$v['gid']); if(empty($has)){echo 'dislike('.$v['gid'].')'; } ?>" id="da{$v['gid']}"><img id="nz{$v['gid']}"  width="20px" src="__PUBLIC__/images/index/<?php if(empty($has)){echo 'info_icon_03.png';}else{echo 'dislike.png'; } ?>" alt="{$v['dislike']}人不喜欢"/></a>
                                                <span id="dn{$v['gid']}">{$v['dislike']}</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="tmall">
                                        	<img style="float:left" src="__PUBLIC__/images/index/baoyou.png" />
                                            <img src="__PUBLIC__/images/index/<?php if($v['shop']=='淘宝'){echo 'taobao';}else{echo 'tmalls';} ?>.png" alt="来自：{$v['shop']}"/> {$v['shop']}
                                        
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <?php } ?>
        </ul>
    </div>
    <div class="page center">
    <div style="margin: 0 auto;text-align: center; margin-top:2.5%;">{$show}</div>
    </div>
</div>
<div class="footer">
        <div class="footer_up">
            <div class="center">
                <ul>
                    <li><img src="__PUBLIC__/images/index/foot_info_01.png" alt=""/>100%品质保障</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_02.png" alt=""/>新品更新速度快</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_03.png" alt=""/>青春潮流的聚集地</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_04.png" alt=""/>专业在线客服</li>
                </ul>
            </div>
        </div>
       <div class="footer_down">
           <div class="center" style="width:1000px">
               <ul>
                   <li>
                       <ul>
                           <li class="title">关于我们</li>
                           <li><a href="/about">关于我们</a></li>
                           <li><a href="#">诚聘英才</a></li>
                           <li><a href="#">校园合伙人</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">商务合作</li>
                           <li><a href="#">卖家免费报名</a></li>
                           <li><a href="#">友情链接</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">帮助中心</li>
                           <li><a href="#">联系我们</a></li>
                           <li><a href="#">联系客服</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">关注我们</li>
                           <li><a href="#">新浪微博</a></li>
                           <li><a href="#">微信号</a></li>
                       </ul>
                   </li>
                   <li class="code">
                       <ul>
                           <li><img src="__PUBLIC__/images/index/code.png" alt=""/></li>
                           <li>扫一扫下载APP</li>
                       </ul>
                   </li>
               </ul>
           </div>
       </div>
</div>
<div class="right_fix_nav">
    <ul>
        <li>
            <a href="/user"><img src="__PUBLIC__/images/index/float_01.png" alt="用户中心"/><span>用户</span></a>
        </li>
        <li>
            <a href="/user/favorate"><img src="__PUBLIC__/images/index/float_02.png" alt="我的收藏"/><span>收藏</span></a>
        </li>
        <li>
            <a href="/user/comment"><img src="__PUBLIC__/images/index/float_03.png" alt="我的评论"/><span>评论</span></a>
        </li>
        <li id="weibo">
      	  <img class="weibocode" src="__PUBLIC__/images/index/weiboqr.png"  />
            <a href="javascript:void(0)"><img src="__PUBLIC__/images/index/float_04.png" alt="关注微博"/><span>微博</span></a>
        </li>
        <li id="weixin">
        	<img class="weixincode" src="__PUBLIC__/images/index/weixinqr.jpg"  />
            <a href="javascript:void(0)"><img src="__PUBLIC__/images/index/float_05.png" alt="关注微信"/><span>微信</span></a>
        </li>
        <li style="margin-top: 160px;">
            <a href="/Question"><img src="__PUBLIC__/images/index/float_06.png" alt="意见反馈"/><span>意见</span></a>
        </li>
        <li class="return">
            <a href="javascript:;"><img src="__PUBLIC__/images/index/float_07.png" alt="回到顶部"/><span>回到顶部</span></a>
        </li>
    </ul>
</div>
<input type="hidden" value="<?php echo session('user.username'); ?>" id="username" />
</body>
<script src="__PUBLIC__/js/index/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/index/lunbo.js"></script>
<script src="__PUBLIC__/js/index/prefixfree.min.js"></script>
<script src="__PUBLIC__/js/index/jquery.smint.js"></script>

<script src="__PUBLIC__/js/index/praise.js"></script>
<script src="__PUBLIC__/js/index/sweet-alert-index.js"></script>
<!-- 轮播图JS实现 -->
<script>
    $(function(){
        $(".return").click(function(){
            $('body,html').animate({scrollTop:0},200);

        });
    });
</script>
<!--[if lte IE 9]>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/ie_placeholder.js"></script>
<![endif]-->
<script>
var login = <?php if($uid = is_login()){echo $uid;}else{echo 'false';}  ?>;
</script>
<!-- 浮动导航 -->
<script type="text/javascript">
$(document).ready( function() {
    $('.subMenu').smint({
    	'scrollSpeed' : 1000
    });
});
</script>

<!-- baidu 统计代码开始 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?87d53a4157d24fd8de035acfe32d9886";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

//百度自动推送代码
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();          
</script>

<!-- baidu 统计代码开始 -->
</html>
