body{
	font-family: "微软雅黑";
}
p{
	font-size: 40px;
	color: #666666;
	font-family: "微软雅黑";
	font-weight: 100;
	color: black;
}
.top{
	max-height:100px ;
	width: 100%;
}
.top img{
	width: 100%;
	height: 100px;
	display: block;
}

.weui_cells {
	padding: 10px;
	margin-top: 0px;
}
.weui_cell:before {
	border-bottom: 2px solid #D9D9D9;
}
.weui_cell p{
	display: inline;
}

.bj{
	height: 25px;
	background: #F5F5F5;
}

#test1 .t_left{
	float: left;
	padding: 10px;
	width: 25%;
}
#test1 .t_center{
	float: left;
	padding: 10px;
	width: 40%;
}
#test1 .t_right{
	float: left;
	padding: 10px;
	width: 25%;
}
.info1 .weui_cells{
	border-bottom: 1px solid #D9D9D9;
}
.info1 .weui_cell{
	height:200px;
}
.info1 .weui_cell textarea{
	height: 200px;
	font-size: 16px;
	font-family: "微软雅黑";
	
	
	
	
}

/* 通用 */

textarea::-webkit-input-placeholder{font-size: 35px;}


.info2 .weui_cells{
	border-bottom: 1px solid #D9D9D9;
	padding: 10px;
	height: 120px;
	line-height: 100px;
}
.info2 .weui_cells label{
	font-size: 40px;
	color: black;
	padding: 10px;
}
.info2 .weui_label {
	width: 160px;
}
.info2 .weui_cells input{
	font-size: 40px;
	padding-top: 40px;
	font-family: "微软雅黑";
}
.info3{
	padding-top: 30px;
}
.info3 .weui_btn {
	font-size: 40px;
	line-height: ;
}


