p{
	font-size: 28px;
	color: #666666;
	font-family: "微软雅黑";
}
.top{
	max-height:100px ;
	width: 100%;
}
.top img{
	width: 100%;
	height: 100px;
	display: block;
}
.weui_navbar_item a{
	color: white;
}
.weui_cell_primary p{
	padding-top: 10px;
	padding-bottom: 10px;
}
.img{
	width: 100%;
}
.img img{
	width: 24%;
}
.u_header{
	padding: 10px;
	width: 100%;
	height: 45px;
}
.u_header img{
	width: 70px;
	border-radius:50%; overflow:hidden;
	border:double #F1F1F1 6px;
	float: left;
	margin-left:-20px ;
}
.u_header p{
	float: right;
	padding-right: 10px;
	line-height: 80px;
}
.foot{
	width: 100%;
	background: #F1F1F1;
	height: 50px;
	margin-top: 45px;
	border-bottom: solid #E6E6E6 3px;
	clear: both;
}
.foot_con{
	float: left;
	
	width: 33.33%;
	height: 50px;
	text-align: center;
}
.foot_con p{
	line-height: 50px;
	display: inline;
}
.weui_cell{
	margin-top: 35px;
}
.weui_navbar_item a{
	font-family: "微软雅黑";
	font-size: 35px;
}
