p{
	font-size: 28px;
	color: #666666;
	font-family: "微软雅黑";
}
.top{
	max-height:100px ;
	width: 100%;
}
.top img{
	width: 100%;
	height: 100px;
	display: block;
}
.weui_navbar_item a{
	color: white;
}
.weui_cell_primary p{
	padding-top: 10px;
	padding-bottom: 10px;
}
.img{
	width: 100%;
}
.img img{
	width: 24%;
}
.u_header{
	padding: 0px;
	width: 100%;
	height: auto;
}
.u_header .h_left{
	padding: 10px 10px 10px 15px;
	width: 80%;
	height: auto;
}
.u_header img{
	width: 70px;
	border-radius:50%; overflow:hidden;
	border:double #F1F1F1 6px;
	float: left;
	margin-left:-20px ;
}
.u_header p{
	float: right;
	margin-right: 3px;
	line-height: 80px;
}
.foot{
	width: 100%;
	background: #F5F5F5;
	height: 70px;
	margin-top: 45px;
	border-bottom: solid #E6E6E6 3px;
	clear: both;
}
.foot_con{
	float: left;
	
	width: 33.33%;
	height: 50px;
	text-align: center;
}
.foot_con p{
	line-height: 70px;
	display: inline;
}
.weui_cell{
	border-top:double #F1F1F1 2px;
	margin-top: 35px;
	padding: 0px 5px 0px 5px;
}
.weui_cell:before {
	border-top:double #F1F1F1 0px;
}
.weui_navbar_item a{
	font-family: "微软雅黑";
	font-size: 35px;
}
.send{
	margin-top: 10px;
	height: 100px;
	text-align: center;
}
.send img{
	margin-right: 10px;
	width: 75px;
	border-radius:50%; overflow:hidden;
	/*border:double #F1F1F1 6px;*/
}
.send .s_left{
	
	float: left;
	width: 50%;
	text-align: right;
}
.send .s_right{
	float: right;
	width: 50%;
	text-align: left;
	
}
.send .s_right p{
	margin-top: 20px;
	color: #454545;
}

.buttoms{
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	height: 130px;
	background-color: #EFEFF4;
	z-index: 5;
	border: solid 1px #04BE02;
}
.buttoms .b_left{
	float: left;
	width: 83%;
}

.buttoms .b_right{
	text-align: center;
	padding-left: 15px;
	padding-top: 20px;
	width: 15%;
	float: left;
	background-color: #EFEFF4;
}

.b_right img{
	width: 50px;
}

.b_right p{
	font-size: 25px;
    line-height: 25px;
    color: black
}
.weui_search_input {
	font-size: 25px;
}

.buttoms .weui_btn{
	    line-height: 100px;
}

.weui_search_bar:after{
	border: solid 0px #04BE02;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #04BE02;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #04BE02;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #04BE02;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #04BE02;
}

