<div class="footer">
        <div class="footer_up">
            <div class="center">
                <ul>
                    <li><img src="__PUBLIC__/images/index/foot_info_01.png" alt=""/>100%品质保障</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_02.png" alt=""/>新品更新速度快</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_03.png" alt=""/>青春潮流的聚集地</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_04.png" alt=""/>专业在线客服</li>
                </ul>
            </div>
        </div>
       <div class="footer_down">
           <div class="center">
               <ul>
                   <li>
                       <ul>
                           <li class="title">关于我们</li>
                           <li><a href="#">关于我们</a></li>
                           <li><a href="#">诚聘英才</a></li>
                           <li><a href="#">校园合伙人</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">商务合作</li>
                           <li><a href="#">卖家免费报名</a></li>
                           <li><a href="#">友情链接</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">帮助中心</li>
                           <li><a href="#">联系我们</a></li>
                           <li><a href="#">联系客服</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">关注我们</li>
                           <li><a href="#">新浪微博</a></li>
                           <li><a href="#">微信号</a></li>
                       </ul>
                   </li>
                   <li>
                       <ul>
                           <li class="title">购物指南</li>
                           <li><a href="#">用户注册</a></li>
                           <li><a href="#">支付方式</a></li>
                       </ul>
                   </li>
                   <li class="code">
                       <ul>
                           <li><img src="__PUBLIC__/images/index/code.png" alt=""/></li>
                           <li>
                               关注我们，更多惊喜
                           </li>
                       </ul>
                   </li>
               </ul>
           </div>
       </div>
</div>
<div class="right_fix_nav">
    <ul>
        <li>
            <a href="#"><img src="__PUBLIC__/images/index/float_01.png" alt=""/><span>用户</span></a>
        </li>
        <li>
            <a href="/user/favorate"><img src="__PUBLIC__/images/index/float_02.png" alt=""/><span>收藏</span></a>
        </li>
        <li>
            <a href="/user/comment"><img src="__PUBLIC__/images/index/float_03.png" alt=""/><span>评论</span></a>
        </li>
        <li id="weibo">
      	  <img class="weibocode" src="__PUBLIC__/images/index/qrcode.png"  />
            <a href="javascript:void(0)"><img src="__PUBLIC__/images/index/weiboqr.png" alt=""/><span>微博</span></a>
        </li>
        <li id="weixin">
        	<img class="weixincode" src="__PUBLIC__/images/index/weixinqr.jpg"  />
            <a href="javascript:void(0)"><img src="__PUBLIC__/images/index/float_05.png" alt=""/><span>微信</span></a>
        </li>
        <li style="margin-top: 160px;">
            <a href="#"><img src="__PUBLIC__/images/index/float_06.png" alt=""/><span>其他</span></a>
        </li>
        <li class="return">
            <a href="javascript:;"><img src="__PUBLIC__/images/index/float_07.png" alt=""/><span>回到顶部</span></a>
        </li>
    </ul>
</div>
<input type="hidden" value="<?php echo session('user.username'); ?>" id="username" />

<!-- 浮动导航 -->
<script src="__PUBLIC__/js/index/jquery.smint.js"></script>
<script src="__PUBLIC__/js/index/lunbo.js"></script>
<script src="__PUBLIC__/js/index/praise.js"></script>
<script type="text/javascript">
$(document).ready( function() {
    $('.subMenu').smint({
    	'scrollSpeed' : 1000
    });
});

var login = <?php if($uid = is_login()){echo $uid;}else{echo 'false';}  ?>;

</script>
<script>
    $(function(){
        $(".return").click(function(){
            $('body,html').animate({scrollTop:0},200);

        });
    });
</script>
</body>
</html>