<style>
.contents{
	margin:0 auto;
	background-color: beige;
	margin-top:60px;
	height:500px;
	width:1000px;
	padding:30px;
	font-family: cursive;
}
.contents h1{
	font-size:20px;
}
</style>

<div class="contents">
	<h1><strong>关于 咿呀折：</strong></h1>	
	<p>
		  &nbsp&nbsp&nbsp&nbsp咿呀折网组建于2014年，是首家专注校园折扣的导购网站。PC端以及无线APP均由大学生团
		
		队自主开发。我们每天更新近千款适合大学生购买的折扣商品。在商品选择的过程中
		
		严格审查，所有商品必须低价折扣。目前我们选款范围覆盖整个折扣网站领域，我们
		
		有着分工明确的选款团队，发现时尚，曝光折扣，绝不错过低价！<br><br>
		
		&nbsp&nbsp&nbsp&nbsp咿呀折网上线的所有商品均在淘宝天猫上完成付款购买流程，我们帮用户发现宝贝，用户可以放心
		
		去购买，为您打造一个最具有价值的优惠信息互动分享平台使我们最终的目标。<br><br>
		
		  &nbsp&nbsp&nbsp&nbsp在咿呀折，每件商品你都可以进行互动，发表你的看法，喜欢或不喜欢都可以和其他用户分
		
		享，在这里你可以凭第一直觉发表你的评论，也可以查看他人对此商品的看法。让你更加智慧地购买。<br><br>
		
		  &nbsp&nbsp&nbsp&nbsp2015年咿呀折重建，抛弃之前的构思，重新明确我们的目标。在发展的过程中我们非常欢迎优秀商家报
		
		名上线咿呀折网以及APP。我们报名完全免费，只要你够折扣，质量过关，即可通过！请您及时联系
		
		客服安排日期展示您的商品。<br><br>
		
		联系我们<br>
		
		地址：湖南省衡阳市衡阳师范学院南岳学院404工作室<br>
		邮箱：about@yiyazhe.com<br>
		联系客服：<br>
		</p>
</div>