<style>
.contents{
	margin:0 auto;
	background-color: beige;
	margin-top:60px;
	height:500px;
	width:1000px;
	padding:30px;
	font-family: cursive;
}
.contents h1{
	font-size:20px;
}
</style>

<div class="contents">
	<h1><strong>关于 咿呀折：</strong></h1>	
	<p>
		  &nbsp&nbsp&nbsp&nbsp咿呀折网组建于2014年，是目前第一个专注校园学生的折扣网站。网站PC端以及无线APP均由大学生团
		
		队自主开发。咿呀折主打校园折扣，每天更新近千款适合大学生购买的折扣商品。在商品选择的过程中
		
		我们严格审查，所有商品必须是低价折扣。目前我们折扣商品的选择途径覆盖整个折扣网站领域，我们
		
		有着一个分工明确的选款团队，发现时尚，且不错过低价！<br><br>
		
		&nbsp&nbsp&nbsp&nbsp咿呀折网目前选取的所有商品均在淘宝天猫上完成付款购买流程，我们帮用户发现宝贝，用户可以放心
		
		去购买，我们努力为你打造一个最具有价值的优惠信息互动分享平台。<br><br>
		
		  &nbsp&nbsp&nbsp&nbsp在咿呀折的每件商品你都可以进行评论，发表你的看法，喜欢或不喜欢都可以和其他用户分
		
		享，在这里你可以看到别人对这件商品的第一直觉。可以更加放心的购买。<br><br>
		
		  &nbsp&nbsp&nbsp&nbsp2015年咿呀折重建，抛弃之前的构思，重新明确我们的目标。在发展的过程中我们非常欢迎优秀商家报
		
		名在咿呀折网以及APP上展现您的商品。我们报名完全免费，只要你够折扣，质量过关，可以立即联系我
		
		们的客服安排好日期展示您的商品。<br><br>
		
		联系我们<br>
		
		地址：湖南省衡阳市衡阳师范学院南岳学院404工作室<br>
		邮箱：about@yiyazhe.com<br>
		联系客服：<br>
		</p>
</div>